
.logo{
	width:100%-30px;
	height:100px;
	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
	min-width:955px;
}
.logo a{
	
	height:76px;
    float:left;
	display: block;
}
.logo a img{
	width:260px;
	height:56px;
	margin-top: 20px;
}
.logoright{
	width:60%;
	height:100%;
	float:right;
}
.yizhe{
	height:100%;
	line-height: 100px;
	font-size: 12px;
	color:#ed443b;
	margin-right: 20px;
}
.logo input{
	float:left;
	margin-top: 30px;
}
@media screen and (min-width:1200px){
	.logo input{
        width:298px;
        height:38px;
    }
}
@media screen and (max-width:1200px){
	.logo input{
        width:168px;
        height:38px;
    }
}
.dl{
	height:18px;
	margin-top:40px;
	/*width:242px;*/
	float:right;
}
.dl li{
	float: left;
}
.dl li a{
	color:#555555;
}
.shu{
	margin-left: 20px;
	margin-right:20px;
	color:#ccc;
}
.dl li img{
	margin-right: 10px;
}

/*nav start*/
.nav{
	width:100%;
	height:40px;
	background: #333333;
	/*min-width: 955px;*/
}
.navmain{
	width:480px;
	height:100%;
	margin:0 auto;
}
.navmain li{
	width:96px;
	height:100%;
	text-align: center;
	line-height: 40px;
	float: left;
	color:white;
}
/*nav end*/
/*banner start*/
.banner-box{
	overflow: hidden;
	min-width: 955px;
	font-size: 0;
}
.banner-box .banner-left{
	width: 60%;
	min-height: 60%;
	float: left;
	font-size: 0;
	position: relative;
	/*line-height: auto;*/
}
.banner-img{
	position: relative;
	width: 100%;
	z-index: 1;
}
.imgbox{
	width: 100%;
	position: absolute;
}
.imgbox a{
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.imgbox a img{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	transition: all 1s ease-out;
}
.banner-right{
	width:40%;
	float: right; 
}
.banner-right .banner-rightimg{
	width: 100%;
	height: 100%;
}
.banner-right .banner-rightimg a{
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
}
.banner-right .banner-rightimg a img{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
	transition: all 1s ease-out;
}
.banner-right a:first-child~a{
	width: 50%;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.banner-box img:hover{
	display: block;
	transform: scale(1.1,1.1);
}
.anniu-box{
	width:100%;
	position: absolute;
	bottom: 17px;
	z-index: 1; 
}
.anniu-box span{
	display: inline-block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 13px;	
	background: red;
}
.btn-box{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	padding: 0 30px;
	z-index: 1;
}
.btn-box div{
	width: 61px;
	height: 60px;
	border-radius: 50%;
    opacity: .5;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}
.btn-left{
	float: left;
	background: url(../image/dir.png)no-repeat;
	position: absolute;
	top:20px;
	left:0;
}
.btn-right{
	float: right;
	background: url(../image/dir.png)no-repeat -90px;
}
/*banner end*/
/*keji start*/
.keji-box{
	height: auto;
	margin: 60px auto;
	padding-bottom: 60px;
	border-bottom: 1px solid #e9e9e9;
	overflow: hidden;
}
.keji-left{
	width: 790px;
	border-right: 1px solid #e9e9e9;
	float: left;
}
.keji-img{
	width: 300px;
	height: 160px;
	margin-right: 30px;
	float: left;
}
.keji-wenzi{
	float: left;
}
.title1{
	width: 100%;
	line-height: 1.1em;
	margin: 30px 0 12px;
	font-size: 24px;
	color: #333;
}
.title2{
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
}
.keji-right{
	float: left;
}
.keji-right a{
	display: block;
	height: 28px;
	line-height: 28px;
	color: #333;
}
.title:before{
	content: "·";
	display: inline-block;
	margin-right: 5px;
}
@media screen and (min-width: 1200px){
	.keji-box{
		width: 1200px;
	}
	.keji-box .keji-left{
		width: 790px;
	}
	.keji-wenzi{
		width: 420px;
	}
	.keji-wenzi a .title1{
		width: 100%;
		line-height: 1.1em;
		margin: 30px 0 12px;
		font-size: 24px;
	}
	.keji-wenzi .title2{
		font-size: 12px;
		line-height: 1.5em;
	}
	.keji-right{
		width: 340px;
		margin: 23px 0 0 40px;
		font-size: 14px;
	}
}
@media screen and (max-width: 1200px){
	.keji-box{
		width: 955px;
	}
	.keji-box .keji-left{
		width: 627px;
	}
	.keji-img{
		width: 250px;
		height: 133px;
		margin-right: 28px;
	}
	.keji-img img{
		width: 100%;
	}
	.keji-wenzi{
		width: 330px;
	}
	.keji-wenzi a .title1{
		width: 100%;
		margin: 20px 0 10px;
		font-size: 18px;
	}
	.keji-wenzi .title2{
		font-size: 12px;
		line-height: 1.5em;
	}
	.keji-right{
		width: 300px;
		margin: 15px 0 0 27px;
		font-size: 12px;
	}
}
.keji-box a:hover{
	text-decoration: underline;
}
/*keji end*/
/*earth start*/
.earth{
	height:540px;
	margin:0 auto;
	overflow: hidden;
}
.lt{
	float:left;
}
.gt{
	float:right;
}
.earthleft{
	width:220px;
	height:540px;
}
.earthright{
	height:100%;
	position: relative;
}
.ybtop{
	margin-left: 10px;
	margin-top: 20px;
}
 .ybearth a img{
    	width:138px;
    	height:138px;
    }
.ybtop div:nth-child(1){
  font-size: 16px;
  height:24px;
  line-height: 24px;
  margin-bottom: 5px;
}
.ybtop div:nth-child(1):hover{
	text-decoration: underline;
}
.ybtop div:nth-child(2){
  font-size: 12px;
  color:#999;
  margin-bottom: 10px;
}

.rm{
	width:48px;
	height:18px;
	color:white;
    background: #ee3531;
    text-align: center;
    line-height: 18px;
	font-size: 12px;
	margin-bottom: 10px;
}
.earth{
	margin-bottom: 40px;
}
.hengt{
	width:1200px;
	height:1px;
	background: #eee;
	margin:0 auto;
	margin-bottom: 40px;
	
}
 .ybearth a img{
 	margin-left: 90px;
 }
 .ybearth a img:hover{
 	margin-left: 80px;
    transition:all 0.3s linear;	
 }
@media screen and (min-width:1200px){
	.earth{
		width:1200px;
	}
	.ybearth:nth-child(2) .ybtop div:nth-child(1){
        font-size: 24px;
      
	}
	.earthright{
	    width:955px;
    }
    .earthright .ybearth{
    	width:238px;
    	height:50%;
    	float:left;
    }
   
    .earthright .ybearth:nth-child(1),.earthright .ybearth:nth-child(3){

    	border-bottom: 1px solid #e9e9e9;
    }
    .earthright .ybearth:nth-child(2){
       width:478px;
       height:100%;
       border-left:1px solid #e9e9e9;
       border-right:1px solid #e9e9e9;
       box-sizing:border-box;
    }
    .earthright .ybearth:nth-child(4){
    	position: absolute;
    	left:0;
    	bottom:0;
    }

     .ybearth:nth-child(2) img{
        width:395px;
        height:398px;
        margin-left:69px;
     }
     .ybearth:nth-child(2) img:hover{
     	margin-left:59px;
     }
}
@media screen and (max-width:1200px){
	.earth{
		width:955px;
	}
	.earthright{
	    width:710px;
    }
    .earthright .ybearth{
    	float:left;
    	width:235px;
    	height:50%;
    	border-bottom:1px solid #e9e9e9;
    	border-right:1px solid #e9e9e9;
        box-sizing:border-box;
    }
    .earthright .ybearth:nth-child(3n){
    	border-right:0;
    }
    .earthright .ybearth:nth-child(3)~.ybearth{
    	border-bottom:0;
    }
}
/*earth end*/
/*fd start*/
.fdbox{
	width:100%;
	height:520px;
	background: #f6f6f6;
	min-width: 955px;	
	padding-top: 60px;
	margin-bottom: 60px;
	min-width: 955px;
}
.fd{
   margin:0 auto;
   height:400px;
}
.fdleft{
	position: relative;

	float: left;
}
.fdleft img{
	height:400px;
}
@media screen and (min-width:1200px){

	.fd{
		width:1200px;
	}
	.fdleft{
		width:710px;
	}
}
@media screen and (max-width:1200px){
	.fd{
		width:955px;
	}
	.fdleft{
		width:465px;
	}
	.fdleft a img{
		width:465px;
	}
}
.sanjiao{
	width:0;
	height:0;
	border:50px solid #f6f6f6;
    border-top-color:transparent;
	border-left-color:transparent;
	border-bottom-color:transparent;
    position: absolute;
    right:0;
    top:175px;
}
.fdright{
	width:460px;
	height:400px;
	float: right;
}
.fdright a:nth-child(1){
	display: block;
	font-size: 30px;
	margin-bottom: 20px;
}
.fdright .shezhi{
	font-size: 12px;
	color:#333333;
	margin-bottom: 50px;

}
.fdright p{
	color:#ee3531;
	font-size: 18px;
	margin-bottom: 30px;
}
.fdright a:nth-child(1){
  display: block;
	
	font-size: 30px;
	margin-bottom: 20px;
}
.gmbox{
	width:300px;
	height:40px;
	margin-bottom: 60px;
}
.gmbox .gm{
	width:140px;
	height:40px;
	/*display: block;*/
	background: #ee3531;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color:white;
	border-radius: 5px;
	float: left;
	transition: all .3s ease-out;

}
.gmbox .gm:hover{
	background: rgba(139,21,18,.8);
}
.gmbox .xq{
	width:140px;
	height:40px;
	display: block;
	border:1px solid #999;
	background: white;
	border-radius: 5px;
	box-sizing:border-box;
	float: right;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	transition: all .3s ease-out;
    
}
.gmbox .xq:hover{
	border:1px solid black;

}
.liuyan{
	width:100%;
	height:63px;
	border-top:1px solid #d7d7d7;
	padding-top: 25px;
}
.user{
	width:175px;
	height:30px;
	float:left;
}
.user a{
	display: block;
   width:30px;
   height:30px;
   border-radius: 50%;
   overflow: hidden;
   float: left;
}
.user img{
    width:30px;
   height:30px;
}
.user span{
	float: right;
	color:#333;
	line-height: 30px;
	font-size: 12px;
}
.con{
	width:140px;
	height:40px;
	text-align: center;
	line-height: 40px;
	color:white;
	font-size: 16px;
	float:right;
	background: #333333;
	border-radius: 5px;
	transition: all .3s ease-out;

}
.con:hover{
	background: black;
}
/*fd end*/

/*chanpin start*/
.tengxun-box{
	padding: 30px 0 50px;
	background: #fff;
}
.tengxun-inner{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.tengxun-innerbox{
	height: auto;
}
.newbox{
	background: #f6f6f6;
	float: left;
	margin: 30px 30px 0 0;
}
.newbox a img{
	width: 100%;
	height: 288px;
}
.newbox-bottom{
	padding: 0 18px;
}
.news-img{
	background-color: #f6f6f6;
	width: 70px;
	height: 70px;
	margin: -35px 10px 0 0;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}
.news-img img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 5px;
}
.news-name{
	display: inline-block;
	font-size: 12px;
	color: #999;
}
.news-xinxi1{
	margin: 8px 0 0 15px;
	float: right;
	font-size: 12px;
	color: #999;
}
.news-x{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../image/new3.png)no-repeat 0 0;
	vertical-align: -4px;
	margin-right: 4px;
}
.news-xinxi2{
	margin: 8px 0 0 15px;
	float: right;
	font-size: 12px;
	color: #999;
}
.news-title{
	margin: 20px 0 10px;
	width: 100%;
	font-size: 16px;
	color: #333;
	height: 26px;
	line-height: 26px;
}
.news-title1{
	height: 37px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	overflow: hidden;
}
.news-title2{
	margin: 18px 0 25px;
	font-size: 12px;
	color: #666;
}
.news-more{
	width: 178px;
	height: 34px;
	border: 1px solid #999;
	color: #555;
	text-align: center;
	line-height: 34px;
	font-size: 13px;
	display: block;
	margin: 30px auto 0;
	border-radius: 3px;
	background: #fff;
	transition: all .3s ease-out;
}
.news-more:hover{
	color: #000;
	border: 1px solid #000;
}
@media screen and (min-width: 1200px){
	.tengxun-innerbox{
		width: 1300px;
	}
	.newbox{
		width: 380px;
	}
}
@media screen and (max-width: 1200px){
	.tengxun-box{
		padding-bottom: 40px
	}
	.tengxun-inner{
		width: 955px;
		overflow: hidden;
	}
	.tengxun-innerbox{
		width: 1000px;
	}
	.newbox{
		width: 300px;
	}
	.newbox a img{
		width: 300px;
		height: 227px;
	}
	.newbox-bottom{
		padding: 0 15px;
	}
	.newbox-bottom .news-img{
		width: 60px;
		height: 60px;
	}
	.newbox-bottom .news-img img{
		width: 50px;
		height: 50px;
	}
	.newbox-bottom .news-title{
		margin: 15px 0 5px;
		font-size: 14px;
	}
}
/*chanpin end*/
/*shipin start*/
.video-box{
	padding: 60px 0;
	height: 662px;
	width: 100%;
	background: #f6f6f6;
	min-width: 955px;
	overflow: hidden;
}
.video{
	width: 1200px;
	height: 477px;
	margin: 0 auto;
}
.video-left{
	float: left;
	width: 236px;
	height: 100%;
	margin-right: 5px;
	font-size: 0;
}
.video-left-img{
	width: 236px;
	height: 236px;
	margin-bottom: 5px;
	float: left;
	font-size: 0;
	position: relative;
}
.video-left-img a img{
	width: 100%;
}
.video-left-wen{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: left;
	padding: 0 55px 0 15px;
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../image/play.png) no-repeat 193px center;
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
}
.video-middle{
	float: left;
	width: 477px;
	height: 100%;
	margin-right: 5px;
	font-size: 0;
	position: relative;
}
.video-middle div:last-child{
	background-position: 434px center;
}
.video-right{
	float: left;
	width: 477px;
	height: 100%;
}
.video-right div:first-child{
	margin-right: 5px;
}
.video-right-img{
	width: 100%;
	font-size: 0;
	position: relative;
}
.video-right .video-right-img div:last-child{
	background-position: 434px center;
}
.video-left-wen a{
	color: #fff;
}
.video-left-wen a:hover{
	text-decoration: underline;
}
.video-ceshi{
	width: 178px;
	height: 34px;
	border: 1px solid #999;
	color: #555;
	text-align: center;
	line-height: 34px;
	font-size: 13px;
	display: block;
	margin: 30px auto 0;
	border-radius: 3px;
	background: #fff;
	transition: all .3s ease-out;
}
.video-ceshi:hover{
	color: #000;
	border: 1px solid #000;
}
@media screen and (max-width: 1200px){
	.video{
		width: 955px;
		height: 475px;
		margin: 0 auto;
	}
	.video-left{
		width: 235px;
		height: 475px;
	}
	.video-left-img{
		width: 235px;
		height: 235px;
	}
	.video-left-img img{
		width: 235px;
		height: 235px;
	}
	.video-middle{
		width: 475px;
		height: 475px;
	}
	.video-middle img{
		width: 475px;
		height: 475px;
	}
	.video-right{
		width: 235px;
		height: 475px;
	}
	.video-right-img{
		display: none;
	}
}
/*shipin end*/
/*media start*/
.warp-box{
	width: 1200px;
	margin: 0 auto;
	padding: 70px 0 100px;
	overflow: hidden;
}
.warp{
	width: 1290px;
	min-width: 955px;
}
.warp a{
	width: 90px;
	height: 90px;
	margin-top: 30px;
	margin-right: 49px;
	float: left;
	text-align: center;
	line-height: 90px;
}
.warp a img{
	max-width: 100%;
	max-height: 100%;
}
.warp a:nth-last-child(1){
	display: block;
	height: 90px;
	background: #333;
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	transition: all .2s ease-out;
}
.warp a:nth-last-child(1):hover{
	background: #000;
}
.shizi{
	padding: 10px;
	font-size: 25px;
	line-height: 30px;
}
@media screen and (max-width: 1200px){
	.warp-box{
		width: 955px;
		margin: 0 auto;
		padding: 10px 0 40px;
	}
	.warp{
		width: 974px;
	}
	.warp a{
		float: left;
		margin-right: 18px;
		margin-top: 20px;
		width: 80px;
	}
	.warp a img{
		max-width: 100%;
	}
}
/*media end*/
/*banquan start*/
.foot-box{
	width: 100%;
	height: 300px;
	background: #222;
	font-size: 12px;
	min-width: 955px;
}
.foot-top{
	width: 100%;
	max-width: 1200px;
	height: 120px;
	border-bottom: 1px solid #333;
	margin: 0 auto;
	line-height: 120px;
	overflow: hidden;
}
.foot-neirong{
	width: 886px;
	height: 100%;
	margin: 0 auto;
}
.foot-neirong ul{
	width: 1080px;
}
.foot-neirong ul li{
	background: url(../image/footer.png)no-repeat;
	margin-right: 100px;
	padding-left: 55px;
	float: left;
	color: #FFF;
	font-size: 16px;
}
.foot-neirong ul li:nth-child(1){
	background-position: -5px 35px;
}
.foot-neirong ul li:nth-child(2){
	background-position: -4px -56px;
}
.foot-neirong ul li:nth-child(3){
	background-position:  -4px -163px;
}
.foot-neirong ul li:nth-child(4){
	background-position: -4px -266px;
	margin-right: 0;
}
.foot-bottom{
	width: 983px;
	margin: 34px auto 0;
	padding-bottom: 36px;
	text-align: center;
}
.foot-b-left{
	display: inline-block;
	max-width: 537px;
	padding: 25px 60px 30px 0;
	border-right: 1px solid #333;
	text-align: right;
}
.shouhou{
	width: 100%;
	font-size: 18px;
	color: #666;
	text-align: left;
}
.shouhou a{
	color: #666;
	font-size: 18px;
}
.shouhou span{
	font-size: 12px;
}
.shiyong{
	margin-top: 7px;
	text-align: left;
	overflow: hidden;
	line-height: 18px;
}
.shiyong span{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a:hover{
	color: #fff;
}
.foot-b-right{
	display: inline-block;
	min-width: 324px;
	padding-left: 56px;
	font-size: 12px;
	color: #666;
	vertical-align: top;
}
.foot-content{
	text-align: left;
}
.foot-info{
	margin-top: -16px;
	width: 100%;
}
.info-left{
	width: auto;
	float: left;
	margin-top: 20px;
}
.info-left a{
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-right: 9px;
	margin-top: 20px;
	background: url(../image/weibo.png) no-repeat;
	vertical-align: middle;
}
.info-left a:nth-child(1){
	background-position: -104px 0;
}
.info-left a:nth-child(3){
	background-position: -52px 0; 
}
.info-left a:nth-child(1):hover{
	background-position: -281px 0;;
}
.info-left a:nth-child(2):hover{
	background-position: -177px 0;
}
.info-left a:nth-child(3):hover{
	background-position: -229px 0; 
}
.info-right{
	width: auto;
	float: right;
}
.info-right img{
	display: block;
	width: 111px;
	height: 111px;
	margin-left: 48px;
}
@media screen and (max-width: 1200px){
	.foot-top{
		width: 100%;
	}
	.foot-top ul{
		width: 1055px;
	}
	.foot-bottom{
		width: 955px;
	}
}
/*banquan end*/
/*返回顶部开始*/
.back{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: url(../image/backtop.png)no-repeat;
	cursor: pointer;
}
.back:hover{
	background-position: 0 -42px;
}
* {
    box-sizing: border-box;
}
/*返回顶部结束*/
